.navbar {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
}

.navbar .navbar-brand, .navbar .navbar-nav > li > a {
  color: #333;
  font-weight: 500;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
  color: #333;
  background-color: #f9f9f9;
}

.bs-docs-masthead, .bs-docs-header {
  position: relative;
  padding: 30px 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background-color: #333;
}

.bs-docs-header {
  background-color: #f7f9f9;
  color: #333;
}

.bs-docs-header {
  margin-bottom: 40px;
  font-size: 20px;
}

.bs-docs-header {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: left;
}

.bs-docs-masthead {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bs-docs-booticon {
  display: block;
  font-weight: 500;
  color: #fff;
  background-color: #563d7c;
  border-radius: 15%;
  cursor: default;
  text-align: center;
}

.bs-docs-booticon-lg {
  width: 144px;
  height: 144px;
  font-size: 108px;
  line-height: 140px;
}

.bs-docs-booticon-outline {
  background-color: transparent;
  border: 1px solid #dedede;
}

.bs-docs-masthead .bs-docs-booticon {
  margin: 0 auto 30px;
}

.bs-docs-masthead .lead {
  margin: 10px auto 30px;
  font-size: 20px;
  color: #fff;
}

.bs-docs-masthead .lead {
  width: 80%;
  font-size: 30px;
}

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #dedede;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

.bs-docs-masthead .btn {
  width: auto;
  padding: 15px 30px;
  font-size: 20px;
}

.bs-docs-masthead .version {
  margin-top: -15px;
  margin-bottom: 30px;
  color: white;
}

.btn-outline {
  color: #333;
  background-color: transparent;
  border-color: #333;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.bs-docs-footer-links {
  margin-top: 20px;
  padding-left: 0;
  color: #999;
}

.bs-docs-footer-links li {
  display: inline;
  padding: 0 2px;
}

.bs-docs-footer-links li:first-child {
  padding-left: 0;
}

.bs-docs-social {
  margin-bottom: 20px;
  text-align: center;
}

.bs-docs-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.bs-docs-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}

.github-btn {
  border: 0;
  overflow: hidden;
}

.bs-docs-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}

.bs-docs-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}

div[jio-type="metric"] {
  border: 1px solid #dededc;
  border-top: rgba(0, 0, 0, 0);
  cursor: pointer;

  border-right: rgba(0, 0, 0, 0);

}

#chart-1 {
  height: 245px;
  margin-top: 20px;
}

#metricbox-1 {
  border-left: rgba(0, 0, 0, 0);

}

#metricbox-2 {
  padding-left: 15px;
}

#metricbox-3 {

  padding-left: 15px;
}

div[jio-type="metric"] {
  min-height: 65px;
}

div[jio-type="metric"].active {
  color: #000;
  border-bottom: 0;
}

.jio.metricbox.value {
  webkit-font-smoothing: antialiased;
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;

  font-size: 50px;
  display: block;
  line-height: 34px;
  height: 40px;
  margin-bottom: 5px;
  color: #000;

  opacity: 0.1;
}

.jio.metricbox.caption {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;

  opacity: 0.1;
}

div[jio-type="metric"].active .jio.metricbox.value,
div[jio-type="metric"].active .jio.metricbox.caption {
  opacity: 1;
}

.jio.tbl.caption {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  color: #b3b3b1;
  border: 0;
  padding: 15px 0;
  font-size: 16px;
  background: 0;
  margin-bottom: -2px;
}

.jio.tbl.value {
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  color: #333332;
  font-size: 24px;
}

#table-1 {
  margin-top: 20px;
}

.jio.tbl.value:first-of-type {
  cursor: pointer;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.codepen-container {
  margin-bottom: 10px;
}

.editor {
  border: 1px solid #ddd;
  height: 300px;
}

#push {
  margin-top: 150px;
}

.checkbox {
  padding-left: 40px;
}

label.checkbox {
  font-weight: normal;
}

@media (max-width: 768px) {
  a.github-ribbon {
    display: none;
  }
}

.logo3rd {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 70px;
}

p.download-intro {
  height: 140px
}