footer.bs-docs-footer
  .container
    .bs-docs-social
      ul.bs-docs-social-buttons
        //li
          iframe(src="/github-btn/github-btn.html?user=joola&repo=joola.io&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="62", height="20")
        //li
          iframe(src="/github-btn/github-btn.html?user=joola&repo=joola.io&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="62", height="20")
        //li.follow-btn
          iframe(src="/github-btn/github-btn.html?user=joola&type=follow&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="65", height="20")
        li.tweet-btn
          a(href="https://twitter.com/share", class="twitter-share-button",data-via="joolaio") Tweet 
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    p Designed and built by data lovers for data lovers <a href="http://joo.la" target="_blank">joo.la</a>.</p>
    p Code licensed under <a href="https://github.com/joola/joola.io/blob/develop/LICENSE.md" target="_blank">GPLv3</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>

    ul.bs-docs-footer-links.muted
      li Currently v#{version}
      li ·
      li 
        a(href="https://github.com/joola/joola.io") GitHub
      li ·
      li 
        a(href="#examples") Examples
      li ·
      li
        a(href="http://github.com/joola/joola.io/wiki") v#{version} docs
      li ·
      li 
        a(href="http://joo.la") About joo.la
      li ·
      li
        a(href="http://blog.joola.io") Blog
      li ·
      li
        a(href="https://github.com/joola/joola.io/issues?state=open") Issues

a.github-ribbon(href="https://github.com/joola/joola.io")
  img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")

script(src="//code.jquery.com/jquery-1.11.0.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
script(src="//google-code-prettify.googlecode.com/svn/trunk/src/prettify.js")
script(src="js/ace-builds/src-noconflict/ace.js",type="text/javascript",charset="utf-8")
script(src="joola.io.js?APIToken=apitoken-reader")
script(src="/ip")
script(src="js/ua-parser.min.js")
script(src="js/tablesort.min.js")
script(src="js/site.js")